body {
  background: #161616;
  color: #bdbdbd;
  font-weight: 300;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Helvetica neue, roboto;
}

img {
  width: 480px;
  height: 320px;
}

.template{
  position: relative;
  background-color: blue;
   width: 600px;
  height: 800px;"
}

h1 {
  font-weight: 200;
  font-style: 26px;
  margin: 10px;
}

input[type="file"] {
  display: none;
}

.upload-label {
  display: inline-block;
  padding: 12px 30px;
  background: #9c3223;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}

.title-label {
  color: #9c3223;
  font-size: 2em;
  font-weight: bold;
  transition: all .4s;
  cursor: pointer;
}

.predict-label {
  background-color: #6d9774;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}